# Folders 
data/motif_counts/*
.idea/*
lib/*
out/*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
data/alphas
data/motif_counts_min7
data/unsup-runs
data
figures
